@page "/comboBox"


<div class="component-variation">
    <h2 class="component-variation__name">Combo Box</h2>
    <div class="component-example">
        <div class="svg--sprite" aria-hidden="true"></div>
        <div class="component-example__live">
            <div class="component-example__live--rendered combo-box">

                <BxComboBox Placeholder="输入选择" OnSelectedOption='(option => Console.WriteLine($"点击 : {option.Key}"))' Direction="BxComboBoxDirection.Top" LabelText="Combo box label" HelperText="Optional helper text here">
                    <BxComboBoxOption Key="An example option that is really long to show what should be done to handle long text" />
                    <BxComboBoxOption Key="Option 1" />
                    <BxComboBoxOption Key="Option 2" />
                    <BxComboBoxOption Key="Option 3" />
                    <BxComboBoxOption Key="Option 4" />
                    <BxComboBoxOption Key="Option 5" Disabled />
                    <BxComboBoxOption Key="Option 6" />
                    <BxComboBoxOption Key="Option 7" />
                    <BxComboBoxOption Key="Option 8" />
                </BxComboBox>

            </div>
        </div>
    </div>
</div>


<div class="component-variation">
    <h2 class="component-variation__name">Combo Box</h2>
    <div class="component-example">
        <div class="svg--sprite" aria-hidden="true"></div>
        <div class="component-example__live">
            <div class="component-example__live--rendered combo-box">

                <BxComboBox Placeholder="输入选择" OnSelectedOption='(option => Console.WriteLine($"点击 : {option.Key}"))' LabelText="Combo box label">
                    <BxComboBoxOption Key="An example option that is really long to show what should be done to handle long text" />
                    <BxComboBoxOption Key="Option 1" />
                    <BxComboBoxOption Key="Option 2" />
                    <BxComboBoxOption Key="Option 3" />
                    <BxComboBoxOption Key="Option 4" />
                    <BxComboBoxOption Key="Option 5" Disabled />
                    <BxComboBoxOption Key="Option 6" />
                    <BxComboBoxOption Key="Option 7" />
                    <BxComboBoxOption Key="Option 8" />
                </BxComboBox>

            </div>
        </div>
    </div>
</div>

<div class="component-variation">
    <h2 class="component-variation__name">Combo Box</h2>
    <div class="component-example">
        <div class="svg--sprite" aria-hidden="true"></div>
        <div class="component-example__live">
            <div class="component-example__live--rendered combo-box">

                <BxComboBox Placeholder="输入选择" OnSelectedOption='(option => Console.WriteLine($"点击 : {option.Key}"))' Invalid LabelText="Combo box label"  InvalidText="Validation message here">
                    <BxComboBoxOption Key="An example option that is really long to show what should be done to handle long text" />
                    <BxComboBoxOption Key="Option 1" />
                    <BxComboBoxOption Key="Option 2" />
                    <BxComboBoxOption Key="Option 3" />
                    <BxComboBoxOption Key="Option 4" />
                    <BxComboBoxOption Key="Option 5" Disabled />
                    <BxComboBoxOption Key="Option 6" />
                    <BxComboBoxOption Key="Option 7" />
                    <BxComboBoxOption Key="Option 8" />
                </BxComboBox>

            </div>
        </div>
    </div>
</div>

<div class="component-variation">
    <h2 class="component-variation__name">Combo Box</h2>
    <div class="component-example">
        <div class="svg--sprite" aria-hidden="true"></div>
        <div class="component-example__live">
            <div class="component-example__live--rendered combo-box">

                <BxComboBox Placeholder="输入选择" OnSelectedOption='(option => Console.WriteLine($"点击 : {option.Key}"))' Warn LabelText="Combo box label" WarnText="Validation message here">
                    <BxComboBoxOption Key="An example option that is really long to show what should be done to handle long text" />
                    <BxComboBoxOption Key="Option 1" />
                    <BxComboBoxOption Key="Option 2" />
                    <BxComboBoxOption Key="Option 3" />
                    <BxComboBoxOption Key="Option 4" />
                    <BxComboBoxOption Key="Option 5" Disabled />
                    <BxComboBoxOption Key="Option 6" />
                    <BxComboBoxOption Key="Option 7" />
                    <BxComboBoxOption Key="Option 8" />
                </BxComboBox>

            </div>
        </div>
    </div>
</div>