@page "/select"

<div class="component-example__live--rendered select">
    <BxSelect Placeholder="Choose an option" OnClickOption='(option => Console.WriteLine($"选中了: {option.Value}"))' LabelText="Select an option" HelperText="Optional helper text">
        <BxSelectOption Key="1" Value="A much longer option that is worth having around to check how text flows" />
        <BxSelectOptgroup Label="Category 1">
            <BxSelectOption Key="2" Value="Option 1" />
            <BxSelectOption Key="3" Value="Option 2" />
            <BxSelectOption Key="4" Value="Option 3" />
        </BxSelectOptgroup>
        <BxSelectOptgroup Label="Category 2">
            <BxSelectOption Key="5" Value="Option 1" />
            <BxSelectOption Key="6" Value="Option 2" />
            <BxSelectOption Key="7" Value="Option 3" />
        </BxSelectOptgroup>
    </BxSelect>
</div>

<div class="component-example__live--rendered select" style="padding: 0% 20%;">
    <BxSelect Placeholder="Choose an option" OnClickOption='(option => Console.WriteLine($"选中了: {option.Value}"))' LabelText="Select an option" HelperText="Optional helper text" Inline DefaultSelectedKey="1">
        <BxSelectOption Key="1" Value="A much longer option that is worth having around to check how text flows" />
        <BxSelectOptgroup Label="Category 1">
            <BxSelectOption Key="2" Value="Option 1" />
            <BxSelectOption Key="3" Value="Option 2" />
            <BxSelectOption Key="4" Value="Option 3" />
        </BxSelectOptgroup>
        <BxSelectOptgroup Label="Category 2">
            <BxSelectOption Key="5" Value="Option 1" />
            <BxSelectOption Key="6" Value="Option 2" />
            <BxSelectOption Key="7" Value="Option 3" />
        </BxSelectOptgroup>
    </BxSelect>
</div>

<div class="component-example__live--rendered select">
    <BxSelect Placeholder="Choose an option" OnClickOption='(option => Console.WriteLine($"选中了: {option.Value}"))' LabelText="Select an option" HelperText="Optional helper text" Invalid>
        <BxSelectOption Key="1" Value="A much longer option that is worth having around to check how text flows" />
        <BxSelectOptgroup Label="Category 1">
            <BxSelectOption Key="2" Value="Option 1" />
            <BxSelectOption Key="3" Value="Option 2" />
            <BxSelectOption Key="4" Value="Option 3" />
        </BxSelectOptgroup>
        <BxSelectOptgroup Label="Category 2">
            <BxSelectOption Key="5" Value="Option 1" />
            <BxSelectOption Key="6" Value="Option 2" />
            <BxSelectOption Key="7" Value="Option 3" />
        </BxSelectOptgroup>
    </BxSelect>
</div>

<div class="component-example__live--rendered select">
    <BxSelect Placeholder="Choose an option" OnClickOption='(option => Console.WriteLine($"选中了: {option.Value}"))' LabelText="Select an option" HelperText="Optional helper text" Warn>
        <BxSelectOption Key="1" Value="A much longer option that is worth having around to check how text flows" />
        <BxSelectOptgroup Label="Category 1">
            <BxSelectOption Key="2" Value="Option 1" />
            <BxSelectOption Key="3" Value="Option 2" />
            <BxSelectOption Key="4" Value="Option 3" />
        </BxSelectOptgroup>
        <BxSelectOptgroup Label="Category 2">
            <BxSelectOption Key="5" Value="Option 1" />
            <BxSelectOption Key="6" Value="Option 2" />
            <BxSelectOption Key="7" Value="Option 3" />
        </BxSelectOptgroup>
    </BxSelect>
</div>

<div class="component-example__live--rendered select">
    <BxSelect Placeholder="Choose an option" OnClickOption='(option => Console.WriteLine($"选中了: {option.Value}"))' LabelText="Select an option" HelperText="Optional helper text" Size="BxSize.Sm">
        <BxSelectOption Key="1" Value="A much longer option that is worth having around to check how text flows" />
        <BxSelectOptgroup Label="Category 1">
            <BxSelectOption Key="2" Value="Option 1" />
            <BxSelectOption Key="3" Value="Option 2" />
            <BxSelectOption Key="4" Value="Option 3" />
        </BxSelectOptgroup>
        <BxSelectOptgroup Label="Category 2">
            <BxSelectOption Key="5" Value="Option 1" />
            <BxSelectOption Key="6" Value="Option 2" />
            <BxSelectOption Key="7" Value="Option 3" />
        </BxSelectOptgroup>
    </BxSelect>
</div>

<div class="component-example__live--rendered select">
    <BxSelect Placeholder="Choose an option" OnClickOption='(option => Console.WriteLine($"选中了: {option.Value}"))' LabelText="Select an option" HelperText="Optional helper text" Size="BxSize.Lg">
        <BxSelectOption Key="1" Value="A much longer option that is worth having around to check how text flows" />
        <BxSelectOptgroup Label="Category 1">
            <BxSelectOption Key="2" Value="Option 1" />
            <BxSelectOption Key="3" Value="Option 2" />
            <BxSelectOption Key="4" Value="Option 3" />
        </BxSelectOptgroup>
        <BxSelectOptgroup Label="Category 2">
            <BxSelectOption Key="5" Value="Option 1" />
            <BxSelectOption Key="6" Value="Option 2" />
            <BxSelectOption Key="7" Value="Option 3" />
        </BxSelectOptgroup>
    </BxSelect>
</div>