@page "/SidePanel"

<div data-carbon-devtools-id="c4p--SidePanel" id="c4p--side-panel-outer" class="c4p--side-panel test c4p--side-panel__container c4p--side-panel__container--md c4p--side-panel__container-right-placement" role="complementary" aria-label="Incident management" style="animation: 240ms ease 0s 1 normal none running side-panel-entrance-right; --c4p--side-panel--content-bottom-padding:5rem;">
    <span tabindex="0" role="link" class="c4p--side-panel__visually-hidden">Focus sentinel</span>
    <div class="c4p--side-panel__inner-content c4p--side-panel__inner-content-with-actions">
        <div class="c4p--side-panel__title-container">
            <h2 class="c4p--side-panel__title-text" title="Incident management" aria-hidden="false">Incident management</h2>
            <h2 class="c4p--side-panel__collapsed-title-text" title="Incident management" aria-hidden="true">Incident management</h2>
        </div>
        <button aria-label="Close" tabindex="0" class="c4p--side-panel__close-button bx--btn bx--btn--sm bx--btn--ghost" type="button">
            <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-label="Close" aria-hidden="true" width="20" height="20" viewBox="0 0 32 32" role="img" class="bx--btn__icon"><path d="M24 9.4L22.6 8 16 14.6 9.4 8 8 9.4 14.6 16 8 22.6 9.4 24 16 17.4 22.6 24 24 22.6 17.4 16 24 9.4z"></path></svg>
        </button>
        <p class="c4p--side-panel__subtitle-text">Testing subtitle text.</p>
        <div class="c4p--side-panel__body-content">
            <div class="story__body-content">
                <h5>Subtitle</h5>
                <div class="story__text-inputs">
                    <div class="bx--form-item bx--text-input-wrapper">
                        <label for="side-panel-story-text-input-a" class="bx--label">Input A</label>
                        <div class="bx--text-input__field-outer-wrapper">
                            <div class="bx--text-input__field-wrapper">
                                <input id="side-panel-story-text-input-a" type="text" class="bx--text-input story__text-input bx--text-input--md">
                            </div>
                        </div>
                    </div>
                    <div class="bx--form-item bx--text-input-wrapper">
                        <label for="side-panel-story-text-input-b" class="bx--label">Input B</label>
                        <div class="bx--text-input__field-outer-wrapper">
                            <div class="bx--text-input__field-wrapper">
                                <input id="side-panel-story-text-input-b" type="text" class="bx--text-input story__text-input bx--text-input--md">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="story__text-inputs">
                    <div class="bx--form-item bx--text-input-wrapper">
                        <label for="side-panel-story-text-input-c" class="bx--label">Input C</label>
                        <div class="bx--text-input__field-outer-wrapper">
                            <div class="bx--text-input__field-wrapper"><input id="side-panel-story-text-input-c" type="text" class="bx--text-input story__text-input bx--text-input--md"></div>
                        </div>
                    </div><div class="bx--form-item bx--text-input-wrapper">
                        <label for="side-panel-story-text-input-d" class="bx--label">Input D</label>
                        <div class="bx--text-input__field-outer-wrapper">
                            <div class="bx--text-input__field-wrapper">
                                <input id="side-panel-story-text-input-d" type="text" class="bx--text-input story__text-input bx--text-input--md">
                            </div>
                        </div>
                    </div>
                </div><div class="story__text-area-container">
                    <span class="story__allowed-characters null">0/100</span>
                    <div class="bx--form-item">
                        <div class="bx--text-area__label-wrapper">
                            <label class="bx--label">Notes</label>
                        </div>
                        <div class="bx--text-area__wrapper">
                            <textarea rows="4" cols="50" class="bx--text-area"></textarea>
                        </div>
                    </div>
                </div>
                <h5 class="story__content-subtitle">Subtitle</h5>
                <div class="bx--data-table-container">
                    <div class="bx--data-table-content">
                        <table class="bx--data-table bx--data-table--no-border">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <div class="bx--table-header-label">Column header</div>
                                    </th>
                                    <th scope="col"><div class="bx--table-header-label">Column header</div></th>
                                </tr>
                            </thead>
                            <tbody aria-live="polite">
                                <tr>
                                    <td>Cell text</td>
                                    <td>Cell text</td>
                                </tr>
                                <tr><td>Cell text</td><td>Cell text</td></tr>
                                <tr><td>Cell text</td><td>Cell text</td></tr>
                                <tr><td>Cell text</td><td>Cell text</td></tr>
                                <tr><td>Cell text</td><td>Cell text</td></tr>
                                <tr><td>Cell text</td><td>Cell text</td></tr>
                                <tr><td>Cell text</td><td>Cell text</td></tr>
                                <tr><td>Cell text</td><td>Cell text</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div role="presentation" class="c4p--action-set c4p--side-panel__actions-container c4p--action-set--row-double c4p--action-set--md bx--btn-set">
            <button tabindex="0" class="c4p--action-set__action-button bx--btn bx--btn--secondary bx--btn--expressive" type="button">Cancel</button>
            <button tabindex="0" class="c4p--action-set__action-button bx--btn bx--btn--primary bx--btn--expressive" type="button">Submit</button>
        </div>
    </div>
    <span tabindex="0" role="link" class="c4p--side-panel__visually-hidden">Focus sentinel</span>
</div>
<div class="c4p--side-panel__overlay" style="animation: 240ms ease 0s 1 normal none running side-panel-overlay-entrance;"></div>