@namespace CarbonBlazor.Abp.Components.Web.BasicTheme.Themes.Basic
@using Volo.Abp.Users
@using Volo.Abp.MultiTenancy
@using Microsoft.Extensions.Localization
@using global::Localization.Resources.AbpUi
@inject ICurrentUser CurrentUser
@inject ICurrentTenant CurrentTenant
@inject IJSRuntime JsRuntime
@inject NavigationManager Navigation
@inject IStringLocalizer<AbpUiResource> L
<AuthorizeView>
    <Authorized>
        <BxOverflowMenu Class="bx--btn--primary" Style="width: 48px; height: 48px;" Flipped>
            <ChildContent>
                @if (Menu != null)
                {
                    @foreach (var menuItem in Menu.Items)
                    {
                        <BxOverflowMenuOption Text="@menuItem.DisplayName" OnClick="@(() => Navigation.NavigateTo(menuItem.Url?.TrimStart('~')))" />
                    }
                }
            </ChildContent>
            <IconTemplate>
                <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="20" height="20" viewBox="0 0 32 32" aria-hidden="true"><path d="M16 4a5 5 0 11-5 5 5 5 0 015-5m0-2a7 7 0 107 7A7 7 0 0016 2zM26 30H24V25a5 5 0 00-5-5H13a5 5 0 00-5 5v5H6V25a7 7 0 017-7h6a7 7 0 017 7z"></path><title>User</title></svg>
            </IconTemplate>
        </BxOverflowMenu>
    </Authorized>
    <NotAuthorized>
        <BxButton HasIconOnly Href="/Account/Login">
            <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="20" height="20" viewBox="0 0 32 32" aria-hidden="true"><path d="M26,30H14a2,2,0,0,1-2-2V25h2v3H26V4H14V7H12V4a2,2,0,0,1,2-2H26a2,2,0,0,1,2,2V28A2,2,0,0,1,26,30Z"></path><path d="M14.59 20.59L18.17 17 4 17 4 15 18.17 15 14.59 11.41 16 10 22 16 16 22 14.59 20.59z"></path><title>Login</title></svg>
        </BxButton>
    </NotAuthorized>
</AuthorizeView>