/*@media (max-width: 99999px) {
    .app-body {
        margin-left: 266px;
    }
}

@media (max-width: 1055px) {
    .app-body {
        margin-left: 0px;
    }
}
*/
.body {
    background-color: #f4f4f4;
    height: 100vh;
    padding: 2rem 0;
}

.app-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
