@*<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
    <a class="navbar-brand" href="">CarbonBlazor.Demo</a>
    <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
    <span class="navbar-toggler-icon"></span>
    </button>
    </div>
    </div>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
    <div class="nav-item px-3">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
    <span class="oi oi-home" aria-hidden="true"></span> Home
    </NavLink>
    </div>
    <div class="nav-item px-3">
    <NavLink class="nav-link" href="counter">
    <span class="oi oi-plus" aria-hidden="true"></span> Counter
    </NavLink>
    </div>
    <div class="nav-item px-3">
    <NavLink class="nav-link" href="fetchdata">
    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
    </NavLink>
    </div>
    <div class="nav-item px-3">
    <NavLink class="nav-link" href="select">
    <span class="oi oi-list-rich" aria-hidden="true"></span> Select
    </NavLink>
    </div>
    </nav>
    </div>*@

<ul class="bx--side-nav__items">
    <li class="bx--side-nav__item">
        <NavLink href="" class="bx--side-nav__link" ActiveClass="bx--side-nav__link--current" Match="NavLinkMatch.All">
            <div class="bx--side-nav__icon bx--side-nav__icon--small"></div>
            <span class="bx--side-nav__link-text">
                Home
            </span>
        </NavLink>
    </li>
    @foreach (var pagePath in pagePaths)
    {
        <li class="bx--side-nav__item">
            <NavLink href="@pagePath" class="bx--side-nav__link" ActiveClass="bx--side-nav__link--current">
                <div class="bx--side-nav__icon bx--side-nav__icon--small"></div>
                <span class="bx--side-nav__link-text">
                    @pagePath
                </span>
            </NavLink>
        </li>
    }
</ul>

@code {
    private bool collapseNavMenu = true;
    private string[] pagePaths = new[]
    { 
        "DataTable", 
        "ComboBox", 
        "Dropdown", 
        "Modal", 
        "Button", 
        "DashBoard", 
        "Form",
        "ProgressBar", 
        "Popover", 
        "Notifications", 
        "Tag", 
        "ContentSwitcher", 
        "Tabs", 
        "Accordion", 
        "Breadcrumb", 
        "InlineLoading", 
        "Toggle", 
        "SidePanel", 
        "Link", 
        "Crad", 
        "AreaChart", 
        "OverflowMenu", 
        "Tile", 
        "InputText",
        "Checkbox"
    };

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
